/* Header */
header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
}
/* End Header */

/* Body */
.body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
}

.body .main {
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
    overflow: visible;
}

.isactive {
  background-color: rgb(6, 155, 6);
  border-radius: 20px;
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.isactive:hover {
    background-color: #1b6e2d;    /* xanh đậm hơn */
    transform: translateY(-2px);  /* nhích lên nhẹ */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* bóng nhẹ */
    text-decoration: none;        /* không gạch chân */
}

.isinactive {
  background-color: red;
  border-radius: 20px;
  padding: 3px 8px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.isinactive:hover {
    background-color: rgb(164, 30, 30);    /* xanh đậm hơn */
    transform: translateY(-2px);  /* nhích lên nhẹ */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);  /* bóng nhẹ */
    text-decoration: none;        /* không gạch chân */
}
/* End body */


/* Sider */
.sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
}
/* End Sider */


/* Show alert */
[show-alert] {
    position: fixed !important;
    top: 70px;
    right: 15px;
    left: auto !important;
    width: 290px;
    margin: 0 !important;
    z-index: 9999;
}

[show-alert].alert-hidden {
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes alert-hidden {
    from {
        right: 15px;
    }
    to {
        right: -100%;
        display: none;
    }
}

[show-alert] [close-alert] {
    background: white;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    border-radius: 50%;
    cursor: pointer;
}
/* End show alert */


/* Image preview */
.image-preview-wrapper {
    position: relative;       
    display: inline-block;
    margin-top: 10px;
}

.image-preview {
    width: 200px;
    height: auto;
    margin-top: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
}

.image-preview-wrapper .btn-close {
    position: absolute;
    top : 50%;
} 

.image-preview[src=""] {
    display: none;
}

.image-preview[src=""] + .btn-close {
    display: none;
} 
/* End image preview */