extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
    .container.my-3 
        .row 
            .col-12 
                a(class="btn btn-primary m-1" href="users/not-friend") Danh sách người dùng
                a(class="btn btn-primary m-1" href="users/friend") Danh sách bạn bè
                a(class="btn btn-primary m-1" href="users/request") Lời mời đã gửi
                a(class="btn btn-primary m-1" href="users/accept") Lời mời kết bạn

        .row
            .col-12 
                +box-head("Đoạn chat")

        .row
            .col-12 
                .chat(my-id=user.id)
                    .inner-body 
                        each chat in chats 
                            div(class=(chat.user_id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.user_id != user.id)
                                    .inner-name #{chat.infoUser.fullname}
                                .inner-content 
                                    | #{chat.content}

                    .inner-foot 
                        form(class="inner-form" action="")
                            input(type="text" placeholder="Nhập nội dung" name="content")
                            button(type="submit") 
                                i.fa-solid.fa-paper-plane  