extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow-sm
                    .card-body.p-4
                        h3.text-center.mb-4 Thông tin tài khoản

                        .mb-3
                            label.form-label Họ và tên
                            label.form-control #{infoUser.fullname}

                        .mb-3
                            label.form-label Email
                            label.form-control #{infoUser.email}