extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main 
    +alert-errol(5000)

    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow-sm
                    .card-body.p-4
                        h3.text-center.mb-4 Nhập mã otp xác thực

                        form(action="/user/password/otp" method="POST")
                            .mb-3
                                label.form-label(for="email") Email
                                input.form-control(type="email" id="email" name="email" required value=email readonly)

                            .mb-3
                                label.form-label(for="otp") Mã otp
                                input.form-control(type="text" id="otp" name="otp" required)

                            button.btn.btn-primary.w-100(type="submit") Xác thực