extends ../../layouts/default.pug
include ../../mixins/show-alert.pug

block main 
    +alert-errol(5000)

    .container.py-5
        .row.justify-content-center
            .col-md-6.col-lg-5
                .card.shadow-sm
                    .card-body.p-4
                        h3.text-center.mb-4 Đổi mật khẩu

                        form(action="/user/password/reset" method="POST")
                            .mb-3
                                label.form-label(for="password") Mật khẩu mới
                                input.form-control(type="password" id="password" name="password" required)
                            .mb-3
                                label.form-label(for="confirmPassword") Xác nhận mật khẩu
                                input.form-control(type="password" id="confirmPassword" name="confirmPassword" required)

                            button.btn.btn-primary.w-100(type="submit") Đổi mật khẩu