header.header 
    .container-fluid
        .row.align-items-center
            .col-3
                .inner-logo 
                    a(href="/admin/dashboard") ADMIN

            .col-9.d-flex.justify-content-end.align-items-center
                div(class="text-end")
                    a.btn.btn-outline-danger.rounded-pill.px-3(href=`${prefixAdmin}/auth/logout`) 
                        i.bi.bi-box-arrow-right.me-1 Đăng xuất